@import url(https://db.onlinewebfonts.com/c/608e0e06737d0946ba97b34995102218?family=CCScottMcCloud+W00+Bold);
@font-face {
    font-family: "CCScottMcCloud W00 Bold";
    src: url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.eot");
    src: url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.svg#CCScottMcCloud W00 Bold")format("svg");
}
@font-face {
    font-family: "asinastra";
    src: url("asinastra.otf") format("opentype");
    }
    

/* font-family: "CCScottMcCloud W00 Bold"; */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background-color: #1e1e1e;
}
.navbar{
    padding: 10px 20px;
}
.navbar-toggler-icon{
    background-image: url("https://info.firstinspires.org/hubfs/first_in_show/mobile-menu-icon.svg");
}
.background{
    margin: auto;
    width: 100%;
    position: absolute;
    background-image: url('images/TechCup_4.png');
    background-size: cover;
    background-position: 50%  ;
    height: 89vh;
    filter: blur(3px);
    z-index: -1;
    /* position: fixed; */
}
.content{
    position: relative;
    height: 89vh;

}

.fixed{
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #1e1e1e;
    width: 100%;
}
.title{
    color: white;
    font-weight: 600;
    font-size: 42px;
    box-shadow: #000000 ;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
    margin-bottom: 20px;
}
.Tech{
    margin-bottom: 20px;
    transition: 1s;
}
.Reg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
    width: 100%;
    transition: 1s;
}
.reg-img{
    width: 10rem;
}
.reg-box{
    width: 30vw;
    border-radius: 25px;
}
.f-asin{
    font-family: 'asinastra' ;
}
.f-scot{
    font-family: 'CCScottMcCloud W00 Bold' ;
}
.bg-orange{
    background-color: #f0b561!important;
}
.bg-green{
    background-color: #009340!important;
}
.bg-blue{
    background-color: #009ddd!important;
}
.bg-red
{
    background-color: #dd0e1a!important;
}
.red{
    color: #dd0e1a!important;
}
.blue{
    color: #009ddd!important;
}
.green{
    color: #009340!important;
}
.orange{
    color:#f0b561!important ;
}
.s-md{
    font-size: 24px!important;
}
button, button:active, button:focus {
    outline: none;
    border: none;
}
.button {
    width: 25rem;
    display: inline-block;
    padding: 10px 20px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 0;
    color: #fff; 
     
    border-radius: 20px;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

 
  .button:hover {
    background-color: #000000; 
}
.back-white{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    opacity: 0.9;
}
.h-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
@media only screen and (max-width: 680px) {
    .button{
        font-size: 28px;
        width: 16rem;
    }
    .s-md{
        font-size: 22px!important;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .button{
        font-size: 28px;
        width: 20rem;
    }
    .s-md{
        font-size: 22px!important;
    }
  }