@import url(https://db.onlinewebfonts.com/c/608e0e06737d0946ba97b34995102218?family=CCScottMcCloud+W00+Bold);
@font-face {
    font-family: "CCScottMcCloud W00 Bold";
    src: url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.eot");
    src: url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/608e0e06737d0946ba97b34995102218.svg#CCScottMcCloud W00 Bold")format("svg");
}
@font-face {
    font-family: "asinastra";
    src: url("https://raw.githubusercontent.com/arrietta/TechCup/main/asinastra.otf") format("opentype");
    }
    
html{
    
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background-color: #1e1e1e;
}
.navbar{
    padding: 10px 20px;
}
.navbar-toggler-icon{
    background-image: url("https://info.firstinspires.org/hubfs/first_in_show/mobile-menu-icon.svg");
}
.background-4{
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    background-image: url('https://raw.githubusercontent.com/arrietta/TechCup/main/images/TechCup_4.png');
    background-size: cover;
    background-position: 50%  ;
    height: calc(100vh - 82px);
    filter: blur(3px);
    z-index: -1;
    
}
.background-1{
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    background-image: url('https://raw.githubusercontent.com/arrietta/TechCup/main/images/TechCup_1.png');
    background-size: cover;
    background-position: 50%  ;
    height: calc(100vh - 82px);
    filter: blur(3px);
    z-index: -1;
    
}
.background-2{
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    background-image: url('https://raw.githubusercontent.com/arrietta/TechCup/main/images/TechCup_2.png');
    background-size: cover;
    background-position: 50%  ;
    height: calc(100vh - 82px);
    filter: blur(3px);
    z-index: -1;
    
}
.background-3{
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    background-image: url('https://raw.githubusercontent.com/arrietta/TechCup/main/images/TechCup_3.png');
    background-size: cover;
    background-position: 50%  ;
    height: calc(100vh - 82px);
    filter: blur(3px);
    z-index: -1;
    
}
.background-5{
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    background-image: url('https://raw.githubusercontent.com/arrietta/TechCup/main/images/TechCup_5.png');
    background-size: cover;
    background-position: 50%  ;
    height: calc(100vh - 82px);
    filter: blur(3px);
    z-index: -1;
    
}
.content{
    position: relative;
    height: calc(100vh - 82px)

}
.content-x{
    position: relative;
    height: calc(100vh - 82px);

}

.fixed{
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #1e1e1e;
    width: 100%;
}
.title{
    color: white;
    font-weight: 600;
    font-size: 24px;
    box-shadow: #000000 ;
    
    margin-bottom: 20px;
}
.Tech{
    margin-bottom: 20px;
    transition: 1s;
}
.ab-top{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0 );
    text-align: center;  
    width: 100%;
}

.Reg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
    width: 90%;
    transition: 1s;
}
.background-6{
    margin: auto;
    width: 100%;
    
    left: 0;
    background-image: url('https://raw.githubusercontent.com/arrietta/TechCup/main/images/background.png');
    background-size: cover;
    background-position: 50%  ;
    height: calc(100vh - 82px);
    z-index: 1;
}
.bg-dark-5{
    height: 100vh;
    position: absolute;
    left: 0;
    background-color: #000000!important;
    opacity: 0.8;
    z-index: 0;
    width: 100%;
}

.nav-item{
    margin: 10px;
   
}
.Tech > img{
    margin: 30px;
}
.reg-img{
    width: 10rem;
}
.reg-box{
    width: 30vw;
    border-radius: 20px;
}
.f-asin{
    font-family: 'asinastra' ;
}
.f-scot{
    font-family: 'CCScottMcCloud W00 Bold' ;
}
.bg-orange{
    background-color: #efac30!important;
   
    background-size: cover;
   
}
.bg-green{
    background-color: #009340!important;
    
}
.bgi-green{
    background-image: url(images/green.png);
    background-size: cover;
    filter: blur(3px);
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    background-position: 50%  ;
    height: calc(100vh - 82px);
    z-index: 1;
}
.bgi-red{
    background-image: url(images/red.png);
    background-size: cover;
    filter: blur(3px);
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    background-position: 50%  ;
    height: calc(100vh - 82px);
    z-index: 1;
}
.bgi-orange{
    background-image: url(images/orange.png);
    background-size: cover;
    filter: blur(3px);
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    background-position: 50%  ;
    height: calc(100vh - 82px);
    z-index: 1;
}
.bg-blue{
    background-color: #009ddd!important;
  
    background-size: cover;
   
}
.bg-black{
    background-color: #0e0e0e!important;
    background-image: url(https://raw.githubusercontent.com/arrietta/TechCup/main/splashes/svg/black.svg);
    background-size: cover;
  
    background-position: 50% ;
}
.img-bg-black{
    margin: 20px 0;
    background-image: url(https://raw.githubusercontent.com/arrietta/TechCup/main/splashes/svg/black.svg);
    background-size: cover;
    background-position: 50% ;
}
.ab-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.ab-center-md{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blur{
    filter: blur(3px);
    position: absolute; 
    width: 100%; 
    left: 0;
    z-index: 0;
}
p{
    font-family: 'inter';
}
.bg-red
{
    background-color: #dd0e1a!important;
    background-size: cover;
}
.red{
    color: #dd0e1a!important;
}
.blue{
    color: #009ddd!important;
}
.l-blue{
    color: #96d3ec;
}
.green{
    color: #009340!important;
}
.orange{
    color:#f69722!important ;
}
.s-md{
    font-size: 24px!important;
}
button, button:active, button:focus {
    outline: none;
    border: none;
}
.ab-top-left{
    position: absolute;
    left :0;
    top: 0;
    transform: rotate(-180deg)

}
.button {
    margin: 10px 0;
    max-width: 80%;
    min-width: 30%;
    display: inline-block;
    padding: 10px 20px !important;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 0;
    color: #fff; 
    height: inherit;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.arrow{
    transform: rotate(90deg);
}
.bottom_btn{
    cursor: pointer;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 100%;

    bottom: 4%;
    left: 50%;
    transform: translate(-50%,0 );
    text-align: center;  
}
.date{
    font-family: 'inter';
    color: #fff;
    font-weight: 700;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
}
 
.button:hover {
    background-color: #000000; 
}
.bg-white{
    
    background-color: white;

}
.fll-top{
    height: 100px;
}
.competition{
    width: 100%;display: none;transition: 1s;
}
.fll{
    border-radius: 15px;
    height:150px ;
    width: 250px;
    position: relative;
    background-position: 50%;
    background-size: cover;
}
.fll-logo{
    position: absolute; 
    right: 0; 
    bottom: 20px;
}
.fll-ex{
    background-image: url('https://info.firstinspires.org/hs-fs/hubfs/first_in_show/FLL_2022_Feature_Image_1.webp');
    
}
.h-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.ab-h-center{
    position: absolute;
    top: 50%;
   
    transform: translate(0,-50%);
}
.logo{
    width: 400px;
}
.logo-m{
    width: 100%;
}
.logo-s{
    width: 115px;
    margin: 10px;
}
.bg-splash{
    position: absolute;
    width: 100%;
}
.bg-splash > img{
    height: 50vh;
   
    position: absolute;
}
.map{
    
    background-color: white;
    width: 60%;
    height: 58vh;
    margin: auto;
    z-index: 1;
    position: relative;
   
}
.ab-b{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0 );
    text-align: center;  
    
}
.to_top{
    position: fixed; height: 50px;width: 50px; background-color: black; opacity: 0.4;z-index: 3; border-radius: 100%;transform: rotate(-90deg);bottom: 20;
    right: 20;
}

.text-h{
    font-weight: bold;

}
.nav-item  a{
    margin: 0 10px;
}
.h1{
    font-size: 64px!important;
}
.h1-1{
    font-size: 52px!important;
}
.h2{
    font-size: 36px!important;
}
.h3{
    font-size: 24px!important;
}
.h3-1{
    font-size: 24px!important;
}
.h4{
    font-size: 20px!important;
}

footer{

    border-top:solid #898c9b 2px;
    text-align: center;
    background-color: #000;
    color: #E8E7E8;
    text-decoration: none;
}
.footer-copyright{
    border-top: #E8E7E8 solid 1pxs;
    text-align: center;
}
.ftc-top{
    height: 8vh;
}
.foot{
    padding:20px 0 ;
    display: flex;
    max-width: 60%;
    min-width: 300px;
    margin: auto;
    justify-content: center;
}
.footer-copyright{
    padding: 20px 0 ;
}
.foot a{
    position: relative;
    margin: 0 2vw;
}
img{
    object-fit: contain;
    max-width: 100%;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;    
}
@media only screen and (max-width: 1200px){
    .h3{
        font-size: 20px!important;
    }
    .h3-1{
        font-size: 20px!important;
    }
}
@media only screen and (max-width: 992px) {
    .logo-m{
        width: 80%;
    }
    .h1{
        font-size: 48px!important;
    }
    .h1-1{
        font-size: 44px!important;
    }
    .h2{
        font-size: 24px!important;
    }
    .h3{
        font-size: 18px!important;
    }
    .h3-1{
        font-size: 18px!important;
    }
    .h4{
        font-size: 16px!important;
    }
    .Tech > img{
        margin: 10px;
    }
    .button{
        font-size: 26px;
        width: 50%;
    }
    .logo{
        width: 300px;
    }
    .s-md{
        font-size: 22px!important;
    }
    .title{
        font-size: 18px;
    }
    
}
@media only screen and (max-width: 767px) {
    
    .fll-top{
        height: 12vh;
        
    }
    .ab-center-md{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .layout-branding{
        display: flex;
        flex-direction: column;
    }
    .layout-branding > a{
        margin: 10px;
    }
    .dis-sm{
        display: none;
    }
    .content-x{
        position: relative;
        height: auto;
    
    }
    .ab-center{
        width: 100%;
    }
    .h1{
        font-size: 38px!important;
    }
    .h1-1{
        font-size: 34px!important;
    }
    .h2{
        font-size: 20px!important;
    }
    .h3{
        font-size: 2.4vh!important;
    }
    .h3-1{
        font-size: 2.1vh!important;
    }
    .h4{
        font-size: 12px!important;
    }
    .top-block{
        height: 40vh;
    }
    p{
        font-size: 0.8em;
    }
    .bottom-block{
        height: 69vh;
        margin-top: 20px;
        width: 80%;
    }
    .text-h{
        font-size: 28px;
    }
    .Tech{
        margin: 0;
    }
    .button{
        font-size: 19px !important;
        width: 80%;
    }
    
    
    
    
    .logo-s{
        width: 100px;
        margin: 10px;
    }
    .logo{
        width: 200px;
    }
    .s-md{
        font-size: 22px!important;
    }
    .title{
        font-size: 14px;
    }
    .map{
        width: 80%;
    }
    .foot{
        max-width: 90vw;
    }
}
