body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background-color: #1e1e1e;
}
.navbar{
    padding: 10px 20px;
}
.navbar-toggler-icon{
    background-image: url("https://info.firstinspires.org/hubfs/first_in_show/mobile-menu-icon.svg");
}
.background{
    margin: auto;
    width: 100%;
    position: absolute;
    background-image: url('images/TechCup_4.png');
    background-size: cover;
    background-position: 50%  ;
    height: 88vh;
    filter: blur(3px);
    z-index: -1;
}
.content{
    position: relative;
    height: 88vh;
}

.fixed{
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #1e1e1e;
    width: 100%;
}
.title{
    color: white;
    font-weight: 600;
    box-shadow: #000000 ;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
    margin-bottom: 20px;
}
.Reg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    
}
button, button:active, button:focus {
    outline: none;
    border: none;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 30px;
    color: #fff; 
    background-color: #f0b561; 
    border-radius: 20px;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

 
  .button:hover {
    background-color: #000000; 
}
@media only screen and (max-width: 680px) {
    .button{
        font-size: 32px;
    }
    
  }
  